<%= form_for @team, :html => { :class => 'form-horizontal' } do |f| %>
	<%= fields_for :team,  @team  do |g| %>
    <div class="row">

        <div class="span6">
        		<div class="control-group">
                  <%= g.label :name, :class => 'control-label' %>
                  <div class="controls">
                    <%= g.text_field :name, :class => 'text_field' %>
                  </div>
                </div>

                <div class="control-group">
                  <%= g.label :established, :class => 'control-label' %>
                  <div class="controls">
                    <%= g.text_field :established,  placeholder: "dd/mm/year", :class => 'text_field' %>
                  </div>
                </div>

                <div class="control-group">
                  <%= g.label :country, :class => 'control-label' %>
                  <div class="controls">
                    <%= g.text_field :country, :class => 'text_field' %>
                  </div>
                </div>

                <div class="control-group">
                  <%= g.label :league, :class => 'control-label' %>
                  <div class="controls">
                    <%= g.text_field :league, :class => 'text_field' %>
                  </div>
                </div>

                <div class="control-group">
                <%= g.label :email, :class => 'control-label' %>
                <div class="controls">
                  <%= g.text_field :email,  placeholder: "sample@sample.com", :class => 'text_field' %>
                </div>
              </div>
          </div>
          <div class="span6">
              

              <div class="control-group">
                <%= g.label :webpage, :class => 'control-label' %>
                <div class="controls">
                  <%= g.text_field :webpage, placeholder: "www.MyWebPage.com", :class => 'text_field' %>
                </div>
              </div>

              <div class="control-group">
                <%= g.label :desc, :class => 'control-label' %>
                <div class="controls">
                  <%= g.text_area :desc, :class => 'text_field_big'%>
                </div>
              </div>


              <div class="control-group">
                <%= g.label :image_url, :class => 'control-label' %>
                <div class="controls">
                  <%= g.text_field :image_url,  placeholder: "www.MyImageUrl.com", :class => 'text_field' %>
                </div>
              </div>


              <div class="control-group">
                <%= g.label :video_url, :class => 'control-label' %>
                <div class="controls">
                  <%= g.text_field :video_url,  placeholder: "Youtube.com/MyUrl", :class => 'text_field' %>
                </div>
              </div>
           <% end %>
        </div>
  </div>
  <div class="row edit_btn">


    <div class="span2">
    <%= f.submit "Done", :class => 'btn btn-primary btn-block' %>
    </div>
    <div class="span2">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                players_path, :class => 'btn btn-block' %>
    </div>
  </div>
<% end %>
