<div id="accordion_info" style="cursor:default">

      <div class="span2" style="margin-top:1%">
      	<% if team.image_url.present? %>
        	<img id="accord_pic" src="<%= team.image_url %>"  height="75" width="75"/>
       		 <%= link_to "View", team, class:"btn accord_btn" %>
        <% else %>
          <%= image_tag( "http://goo.gl/A6bvEv", alt: "Default Image", size: "75x75", class: "img-rounded img-responsive profile_picture")%>
           <%= link_to "View", team, class:"btn accord_btn" %>
        <% end %>
      	

      </div>

      <div class="span5 desc_box" >

        <span id="desc_text"> <%= team.desc %> </span>
       
      </div>

</div>