<tr  class= "accordion-toggle" data-toggle="collapse" data-parent="#team-table-body" data-target="<%= '#short_info_' + team.id.to_s %>" data-activeselector = ".in" >
 <%# <td><%= team.id %></td>
  <td><%= team.name %></td>
  <td><%= team.country %></td>
  <td><%= team.league%></td>
<%#  <td><%= team.established %></td>
 <%# <td><%= team.manager%></td>
 <%# <td><%= team.email%></td>
 <%# <td><%= team.webpage%></td>
  

</tr>
<tr style="width:100%;">
  <td style =  "padding : 0px;background-color:#2c3e50" colspan="5">
    <div id="<%= 'short_info_' + team.id.to_s %>" class="collapse">
      <%= render partial: 'min_show', locals: {team: team} %>
    </div>
  </td>
</tr>


<!-- data-link="<%= team_path(team) %>" -->