
 <table class="gi_table">
      <thead>
        <tr style="color:white">
          <%#<th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:country) %></th>
          <th><%= model_class.human_attribute_name(:league) %></th>
          <%#<th><%= model_class.human_attribute_name(:established) %></th>
          <%#<th><%= model_class.human_attribute_name(:manager) %></th>
         <%# <th><%= model_class.human_attribute_name(:email) %></th>
         <%# <th><%= model_class.human_attribute_name(:webpage) %></th>

          <!--
            NEED TO ADD SPORT/ROLE ETC
         <th><%= model_class.human_attribute_name(:created_at) %></th> 
          <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
        </tr>
      </thead>
     
      <tbody style="cursor:pointer" id="team-table-body" class="accordion">
    
          <% @teams.each do |team| %>
            <%= render partial: 'team_row', locals: {team: team} %>
          <% end %>
         
      </tbody>
    </table>
