<%- model_class = Team -%>
<div class="team_header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<!--
<div class="form_row">
      <%= button_to "team",  controller: "teams", action: "create" %>
    </div>-->

<%= render partial: 'team_table', locals: {model_class: model_class} %>


<!-- <%= link_to t('.new', :default => t("helpers.links.new")),
            new_team_path, :style => 'margin-top:1%;',
            :class => 'btn btn-primary' %> -->
            