<h1><%= @team.name if @team.name.present? %></h1>

      <div class="profile_wrap_team">
          <div id="info">

                <div class="todo">
                    <div class="todo">
                       <div id="profile_picture">

                            <% if @team.image_url.present? %>
                              <%= image_tag(@team.image_url, alt: "Example Image", class: "img-rounded img-responsive profile_picture") %>
                            <% else %>
                              <%= image_tag( "http://goo.gl/A6bvEv", alt: "Default Image", class: "img-rounded img-responsive profile_picture")%>
                            <% end %>
                        
                        </div>
                                            <!-- SHOW EDIT BUTTON ONLY TO LOGGED IN OWNER OF PLAYER PROFILE -->
                      <div id="edit_button" style="margin-bottom: 5%; margin-top: 3%">
                           <% if current_user.uid == @team.manager.person.uid %>
                              <%= link_to 'Edit', {:controller => "teams", :action => "edit"},  class: "btn btn-block btn-lg btn-inverse" %>
                           <% else %>
                             <%= button_to 'Connect', player_team_relations_path(player_team_relation: {player_id: current_user.players.first.id, team_id: @team.id}),  class: "btn btn-block btn-lg btn-inverse", id: "connect_button",  method: :post,  remote: true %>
                          <% end %>
                      </div>


                <ul>

                  <li>
                    <div class="todo-icon fui-user"></div>
                      <div class="todo-content">
                        <h4 class="todo-name">
                          Established:</h4>
                          <strong><%= @team.established %></strong>
                      </div>
                  </li>


                  <li>
                  <div class="todo-icon fui-list"></div>
                    <div class="todo-content">
                     <h4 class="todo-name">
                        Country:</h4>
                        <strong><%= @team.country %></strong>
                    </div>
                  </li>


                  <li>
                     <div class="todo-icon fui-time"></div>
                     <div class="todo-content">
                     <h4 class="todo-name">
                       League:</h4>
                   <strong><%= @team.league %></strong>
                    <div class="todo-content">
                  </li>


                  <li>
                     <div class="todo-icon fui-phone"></div>
                     <div class="todo-content">
                     <h4 class="todo-name">
                       E-mail:</h4>
                   <strong><%= @team.email %></strong>
                    <div class="todo-content">
                  </li>
                  

                </ul>

                        <!--<input class="todo-search-field" type="search" placeholder="Search" value="">-->
              </div>
                    
            </div>

          </div>


             
        <div id="description">
          <h2>Description</h2>
          <p> <%= @team.desc %> </p>
        </div>

        <div id="evaluation">
          <h2>Players</h2>
          
        </div>

    </div>   

  <!--  <div id="skills">    
       <h2>Probably remove div?</h2>
    </div> -->
         

       
   



