<tr id='<%="connection-" << connection.id.to_s %>'>
	<td><%= connection.player.person.first_name %></td>
	<td><%= connection.player.person.last_name %></td>
	<td><%= connection.player.person.position %></td>
  		
	<td id="test">
	    <div class="span2 gl">
	    <%= button_to "View player", player_path(connection.player), method: :get, class: "btn btn-inverse btn-block" %>
	    </div>
	    <div class="span2 gl">
	    <%= button_to "Delete", connection, controller: 'player_team_relations', :method => :delete, remote: true, class: "btn btn-block fl btn-danger" %>
	    </div>
	</td>

</tr>