<div class="player_header">
  <h1>Connections</h1>
</div>

<table class="gi_table2">
      <thead>
        <tr style="color:white">
          
          <th><%= "First name" %></th>
          <th><%= "Last name" %></th>
          <th><%= "Position" %></th>
          <th><%= "Decision" %></th>
         

        </tr>
      </thead>
     
      <tbody id="conn-table-body" class="accordion">
       <div class="accordion-group">
         <div class="accordion-heading">
          <% @connections.each do |connection| %>
            <%= render partial: 'connections/connection_row', locals: {connection: connection} %>
          <% end %>
          </div>
        </div>
      </tbody>
    </table>