<!DOCTYPE html>
<html lang="en">
	<head>
	</head>

	<body>

		<div class="page-header">
			<h1>Main page</h1>
		</div>

		<div class="page-body">			
		         <% if current_user %>
		         	 <% a = Person.find_by_uid(current_user.uid) %>
			         <% if not(Player.exists?(person_id: a))  && not(Manager.exists?(person_id: a)) %>
				             Hello <strong><%= current_user.first_name + " " + current_user.last_name %> </strong>!
				             	<%= button_to 'Register as a PLAYER.', {:controller => "players", :action => "create", :player => {:person_id => current_user.id}} %>

				             	<%= button_to 'Register as a TEAM MANAGER.', {:controller => "managers", :action => "create", :manager => {:person_id => current_user.id}} %>

					  <% else %>

					<!-- PLAYER AND TEAM MANAGER --> 

					  	<% if Player.exists?(person_id: a) && Manager.exists?(person_id: a) %>
						  	
					  		<p> <%= "Hello, " + a.first_name + " " + a.last_name + "! You're a TEAM MANAGER & PLAYER " %></p>


					<!-- TEAM MANAGER -->

						<% elsif Manager.exists?(person_id: a) %>
							<p> <%= "Hello, " + a.first_name + " " + a.last_name + "! You're a TEAM MANAGER. " %></p>


					<!-- PLAYER -->

						<% else %>
							<p> <%= "Hello, " + a.first_name + " " + a.last_name + "! You're a PLAYER. " %></p>
						<% end %>
		              <% end %>

		         <% else %>
		              <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

		         <% end %>
		</div>

	</body>
</html>

		