
   
  <div class="row offset4">
  	<div class="span4">
  	  <%= button_to 'I am a player', {:controller => "players", :action => "create", :player => {:person_id => current_user.id}}, :class => "btn btn-xlarge btn-block", :type => "button" %>
    </div>
    <div class="span4">
	  <%= button_to 'I am a manager', {:controller => "managers", :action => "create", :manager => {:person_id => current_user.id}}, :class => "btn btn-xlarge btn-block", :type => "button" %>
    </div>
  </div>

