
<div class="row">
    <div class="span4" id="index_btn">
        <button class="btn btn-xlarge btn-block" type="button" id="sign_in">Log in</button>
    </div>
</div>

<div class="row">



    <div  class="span9" id="index_info">
        <div class="span4">
             <h2>For athletes:</h2>
             <p>-Easy access to a database of teams worldwide</p>
             <p>-Filter teams by country, league etc. and apply for positions</p>
             <p>-Showcase your personal sports profile</p>
             <p>-Save on hiring agents</p>
        </div>
        <div class="span4">
             <h2>For teams:</h2>
             <p>-Easy access to a database of athletes worldwide</p>
             <p>-Filter players by experience, position etc.</p>
             <p>-Contact talented players efficiently</p>
             <p>-Save on hiring sports scouts</p>
             <p>-Promote your team</p>
        </div>
    </div>

</div>

