<%= form_for @player, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="row">
    <div class="span6">

      <%= fields_for :person,  @player.person  do |g| %>
        <div class="control-group">
          <%= g.label :first_name, :class => 'control-label' %>
          <div class="controls">
            <%= g.text_field :first_name, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= g.label :last_name, :class => 'control-label' %>
          <div class="controls">
            <%= g.text_field :last_name, :class => 'text_field' %>
          </div>
        </div>
          
        <div class="control-group">
          <%= g.label :birthday, :class => 'control-label' %>
          <div class="controls">
            <%= g.text_field :birthday,  placeholder: "dd/mm/year", :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= g.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= g.text_field :email,  placeholder: "sample@sample.com", :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= g.label :phone, :class => 'control-label' %>
          <div class="controls">
            <%= g.text_field :phone, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= g.label :height, :class => 'control-label' %>
          <div class="controls">
            <%= g.text_field :height,  placeholder: "Centimeters", :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= g.label :weight, :class => 'control-label' %>
          <div class="controls">
            <%= g.text_field :weight,  placeholder: "Kilograms" , :class => 'text_field' %>
          </div>
        </div>


        </div>

       <div class="span6" >

        <div class="control-group" >
          <%= f.label :desc, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :desc, :class => 'text_field_big' %>
            </div>
        </div>

        <div class="control-group" style="">
          <%= g.label :position, :class => 'control-label' %>
          <div class="controls">
            <%= g.text_field :position, :class => 'text_field_big' %>
          </div>
        </div>
           <% end %>  
        <%= f.fields_for :skill, @skill do |h| %>
          <div class="control-group">
            <%= h.label :speed, :class => 'control-label' %>
            <div class="controls">
                <div class="progress progress-edit">
                  <div class="progress-bar " style="width: <%= @player.skill.present? ? @player.skill.speed : 0 %>%"></div>
                   <%= h.hidden_field :speed, :class => 'text_field' %>
                </div>
            </div>
          </div>
          <div class="control-group">
            <%= h.label :control, :class => 'control-label' %>
            <div class="controls">
                <div class="progress progress-edit">
                  <div class="progress-bar " style="width: <%= @player.skill.present? ? @player.skill.control : 0 %>%"></div>
                  <%= h.hidden_field :control, :class => 'text_field' %>
                </div>
            </div>
          </div>
          <div class="control-group">
            <%= h.label :shooting, :class => 'control-label' %>
            <div class="controls">
                <div class="progress progress-edit">
                  <div class="progress-bar " style="width: <%= @player.skill.present? ? @player.skill.shooting : 0 %>%"></div>
                  <%= h.hidden_field :shooting, :class => 'text_field' %>
                </div>
            </div>
          </div>
          <div class="control-group">
            <%= h.label :passing, :class => 'control-label' %>
            <div class="controls">
                <div class="progress progress-edit">
                  <div class="progress-bar " style="width: <%= @player.skill.present? ? @player.skill.passing : 0 %>%"></div>
                  <%= h.hidden_field :passing, :class => 'text_field' %>
                </div>
            </div>
          </div>
          <div class="control-group">
            <%= h.label :endurance, :class => 'control-label' %>
            <div class="controls">
                <div class="progress progress-edit">
                  <div class="progress-bar " style="width: <%= @player.skill.present? ? @player.skill.endurance : 0 %>%"></div>
                  <%= h.hidden_field :endurance, :class => 'text_field' %>
                </div>
            </div>
          </div>


        <% end %>

      </div>
    </div>

  <div class="row edit_btn">


    <div class="span2" style="margin-top-50%">
    <%= f.submit "Done", :class => 'btn btn-primary btn-block' %>
    </div>
    <div class="span2" style="margin-bottom:0%">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                players_path, :class => 'btn btn-block' %>
    </div>
  </div>
<% end %>
