             <% a = player.person %> 
              
              <div id="accordion_info" style="cursor:default">

                      <div class="span2" style="margin-top:1%">
                        <%=image_tag(player.person.image_url[0..-6] << "square&height=75&width=75", alt: "Example Image", class: "img-rounded img-responsive") if player.person.image_url.present? 
                        #UGlY HACK, don't do this at home!
                        %>

                         <%= link_to "View", player, class:"btn accord_btn" %>
                      </div>
                      <div class="span5 desc_box">

                        <p id="desc_text" class="drop_down_desc_box"> <%= player.desc %> </p>
                       
                      </div>


              </div>
             



