 <table class="gi_table">
      <thead>
        <tr style="color:white">
          
         <!-- <th><%= model_class.human_attribute_name(:person_id) %></th>-->
          <th><%= model_class.human_attribute_name(:first_name) %></th>
          <th><%= model_class.human_attribute_name(:last_name) %></th>
          <th><%= model_class.human_attribute_name(:position) %></th>
          <th><%= model_class.human_attribute_name(:Skill_average) %></th>
         <!-- 
            NEED TO ADD SPORT/ROLE ETC
         <th><%= model_class.human_attribute_name(:created_at) %></th> 
          <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
        </tr>
      </thead>
     
      <tbody style="cursor:pointer" id="player-table-body" class="accordion">
       
          <% @players.each do |player| %>
            <%= render partial: 'player_row', locals: {player: player} %>
          <% end %>
          
      </tbody>
    </table>