<tr  class= "accordion-toggle" data-toggle="collapse" data-parent="#player-table-body" data-target="<%= '#short_info_' + player.id.to_s %>" data-activeselector = ".in" >
  <td><%= player.person.first_name %></td>
  <td><%= player.person.last_name %></td>
  <td><%= player.person.position%></td>
  <% if player.skill.present? %>
  <% counter=0 %>
  <% player.skill.attributes.except!('id', 'player_id').each do |skill,val|%>
  <% counter=counter+val if skill.present? && val.present? %>
  <% end %>
  <% (counter=counter/player.skill.attributes.except!('id', 'player_id').size).to_s+"%" %>
  <td>
  <div class="progress">
        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" style="width: <%= counter %>%"></div>
        <span><%=counter%>/100</span>
  </div>
  </td>
  <% end %> 
              <!-- <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_player_path(player), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          player_path(player),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %> 
               --> 
</tr>
<tr style="width:100%;">
  <td style =  "padding : 0px;background-color:#2c3e50" colspan="5">
    <div id="<%= 'short_info_' + player.id.to_s %>" class="collapse">
      <%= render partial: 'min_show', locals: {player: player} %>
    </div>
  </td>
</tr>


<!-- data-link="<%= player_path(player) %>" -->