<%- model_class = Player -%>
<div class="player_header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<!--
<div class="form_row">
      <%= button_to "Player",  controller: "players", action: "create" %>
    </div>-->

<%= render partial: 'player_table', locals: {model_class: model_class} %>

<!--
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_player_path, :style => 'margin-top:1%;',
            :class => 'btn btn-primary' %>  -->