<% a = @player.person %> 
<% e = @player.extra %>
<% s = @player.skill %>


        <h1><%= a.first_name + " " + a.last_name if (a.first_name.present? && a.last_name.present?) %></h1>              
      <div class="profile_wrap">
<div id="info">

              <div class="todo">
                <div class="todo">
                 <div id="profile_picture">

                  <% if @player.person.image_url.present? %>
                    <%= image_tag(@player.person.image_url, alt: "Example Image", class: "img-rounded img-responsive profile_picture") %>
                  <% else %>
                    <%= image_tag( "http://goo.gl/A6bvEv", alt: "Default Image", class: "img-rounded img-responsive profile_picture")%>
                  <% end %>
                  
                  </div>
                                        <!-- SHOW EDIT BUTTON ONLY TO LOGGED IN OWNER OF PLAYER PROFILE -->
                  <div id="edit_button">
                    <div id="edit_page">
                    <% if current_user.uid == @player.person.uid %>
                       <%= link_to 'Edit', {:controller => "players", :action => "edit"},  class: "btn btn-block btn-lg btn-inverse" %>
                    <% end %>
            </div>
          </div>

                  <ul>

              <li>
                <div class="todo-icon fui-user"></div>
                  <div class="todo-content">
                    <h4 class="todo-name">
                      Age:</h4>
                              <strong><%= a.birthday.present? ? a.birthday.find_age : "" %></strong>
                    </h4>
                  </div>
              </li>


              <li>
              <div class="todo-icon fui-list"></div>
                <div class="todo-content">
                 <h4 class="todo-name">
                    Position:</h4>
                    <strong><%= a.position %></strong>
                </div>
              </li>

              <li>
                        <div class="todo-icon fui-eye"></div>
                         <div class="todo-content">
                         <h4 class="todo-name">
                         Height:</h4>
                         <strong><%= a.height %></strong>
                        </div>
              </li>

              <li>
                 <div class="todo-icon fui-time"></div>
                 <div class="todo-content">
                 <h4 class="todo-name">
                    Weight:</h4>
               <strong><%= a.weight %></strong>
                <div class="todo-content">
              </li>

              <li>
                 <div class="todo-icon fui-time"></div>
                 <div class="todo-content">
                 <h4 class="todo-name">
                    E-mail:</h4>
               <strong><%= a.email %></strong>
                <div class="todo-content">
              </li>

              <li>
                 <div class="todo-icon fui-phone"></div>
                 <div class="todo-content">
                 <h4 class="todo-name">
                    Phone:</h4>
               <strong><%= a.phone %></strong>
                <div class="todo-content">
              </li>

            </ul>

                    <!--<input class="todo-search-field" type="search" placeholder="Search" value="">-->
        </div>
                
      </div>

              </div>


         
    <div id="description" >
        <h2>Description</h2>
      <p> <%= @player.desc %> </p>
    </div>

    <div id="evaluation">
    <h2>Skills</h2>
      <p>Speed:
        <div class="progress progress_kek">
          <div class="progress-bar" style="width: <%= s.present? ? s.speed : 0 %>%"></div>
          <span><%= s.present? ? s.speed : 0 %>/100</span>
        </div>
      </p>
      
      <p>Control:
        <div class="progress">
          <div class="progress-bar" style="width: <%= s.present? ? s.control : 0%>%"></div>
           <span><%= s.present? ? s.control : 0%>/100</span>
        </div>
      </p>

      <p>Shooting:
        <div class="progress">
          <div class="progress-bar" style="width: <%= s.present? ? s.shooting : 0%>%"></div>
           <span><%= s.present? ? s.shooting : 0%>/100</span>
        </div>
      </p>

      <p>Passing:
        <div class="progress">
          <div class="progress-bar" style="width: <%= s.present? ? s.passing : 0%>%"></div>
           <span><%= s.present? ? s.passing : 0%>/100</span>
        </div>
      </p>

      <p>Endurance:
        <div class="progress">
          <div class="progress-bar" style="width: <%= s.present? ? s.endurance : 0%>%"></div>
           <span><%= s.present? ? s.endurance : 0%>/100</span>
        </div>
      </p>

  </div>

          </div> 
<% if e.present? %>
  <div id="skills">    
          <h2>Other</h2>  
          <p>Achievements: <%= e.achievements %></p>
          <p>Previous teams: <%= e.prev_teams %></p>
          <p>Recommendations: <%= e.recommendations %></p>
          <p>Achievements: <%= e.achievements %></p>
          <div id="video">
          <!--  <iframe width="920" height="480" src="<%= e.promo_vid %>" frameborder="0" allowfullscreen></iframe> -->
          </div>
  </div>
         
<% end %>
       
   



