jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true

window.fbAsyncInit = ->
  FB.init 
    appId: '<%= ENV['FACEBOOK_ID']%>' # AppID
    status: true # check login status
    cookie: true # enable cookies to allow the server to access the session

  $("#sign_in").click (e) ->
    e.preventDefault()
    FB.login (response) ->
      window.location = "/auth/facebook/callback"  if response.authResponse


  $("#sign_out").click (e) ->
    FB.getLoginStatus (response) ->
      FB.logout()  if response.authResponse

    true
