/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require flat-ui
 *= require_self
 *= require_tree .
 */
html,body{
    height: 100%;
    background-image: url('http://kodu.ut.ee/~vooteler/images/skin_side_up.png');
}

.gi_table tr:hover{
	
	background-color:white;
}

.navbar-inner{
   -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
   background: rgba(52, 73, 94, 0.5);
}

/* BELOW CHANGES NAVBAR OPACITY (0.5)  

.navbar-inverse .navbar-inner {
    background: none repeat scroll 0% 0% rgba(52, 73, 94, 0.5);
}
 */



a{
	opacity: 1;
}


#edit_page{
	
	color:black;
}
#logo{

	width:50%;
	margin:0 auto;
}

#index_btn{

	float:none;
	margin:0 auto;
	#text-align:center;
	#height:2000px;
	margin-top:2%;
	margin-bottom:2%;
	display:table;

}

.todo li{

	cursor: default;
	background:url('');
	background-color: #34495E;

}

.todo ul{


	height:50%;

}
.btn-xlarge {

    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;

}

#index_info{

	float:none;
	margin-left:25%;
	#margin-left:auto;
	margin-right:auto;
	#margin:0 auto;
	
}
.hero-unit {

		color: white;
		padding:20px;
		opacity: .9;
		background-size: 100%;
        background-image: url('http://kodu.ut.ee/~vooteler/images/staadion.png');    

}

.hero_custom{

	background-image: url('');
	-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
	background-color:black;
	padding:20px;
	margin-top:auto;
	margin-bottom:0;
	vertical-align:bottom;

}

.hero_header{

	#padding:0.01%;
	height:300px;
	margin-bottom:1%;
}


#index_header{

	#margin-top:200px;
	margin:3% auto;
	#float:none;
	color: white;
	width:51%;

}

.content2{

	#background-size: 100%;
	#background-image: url('http://kodu.ut.ee/~vooteler/images/staadion.png');    
	position:relative;
}
#wrap
{
	#min-height: 90%;
}

#footer {

	background-color: #34495E;
	color:white;
	#width:100%;
	#height:60px;
	#clear:both;
	position: relative;
	margin-bottom:0;
	#left:0;
	#background:#ee5;
}



