// Place all the styles related to the Managers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #3498DB;
$primary-color-hover: #2980B9;
$secondary-color: #34495E; 
$secondary-color-hover: #2c3e50;
.fl{
	
	margin-left:25%;

}


.gl{
	
	height:100%;
	margin-left:0;

}

#test{
	
	width:35.5%;
	height:30px;
}

#conn-table-body{
	
	height:25px;
}

.gi_table2 {
font-size:12px;
color:#333333;
width:100%;
border-width: 1px;
border-color: #9dcc7a;
border-collapse: collapse;
}

.gi_table2 th {
	font-size:12px;
	background-color:$secondary-color;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: $secondary-color;
	text-align:left;
}

.gi_table2 tr {
background-color:$primary-color;
}

.gi_table2 td {
	font-size:12px;
	border-width: 1px;
	padding: 8px;
	#border-style: solid;
	#border-color: $primary-color;
}

.gi_table2 tr:hover {
	#background-color: $primary-color-hover;
}