// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$primary-color: #3498DB;
$primary-color-hover: #2980B9;
$secondary-color: #34495E; 
$secondary-color-hover: #2c3e50;


.profile_wrap{

	height:730px;

}

#profile_picture{
	
	width:155px;
	height:155px;
}

.players_header{

	color:$secondary-color;
	background-color:none;
}

.gi_table {
font-size:12px;
color:#333333;
width:100%;
border-width: 1px;
border-color: #9dcc7a;
border-collapse: collapse;
}

.gi_table th {
font-size:12px;
background-color:$secondary-color;
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: $secondary-color;
text-align:left;
}

.gi_table tr {
background-color:$primary-color;
}

.gi_table td {
font-size:12px;
border-width: 1px;
padding: 8px;
#border-style: solid;
#border-color: $primary-color;
}

.gi_table tr:hover {
	background-color: $primary-color-hover;
}

.eval_table {
	font-size:12px;
color:#333333;
width:100%;
border-width: 1px;
border-color: #9dcc7a;
 #border-collapse: collapse;
}

.eval_table th {
font-size:12px;
background-color:$primary-color;
#border-width: 1px;
padding: 8px;
#border-style: solid;
#border-color: $primary-color;
text-align:center;
}

.eval_table tr {
background-color:#ffffff;
}

.eval_table td {
font-size:12px;
#border-width: 1px;
padding: 8px;
#border-style: solid;
#border-color: $primary-color;
}


#edit_button{
	float:center;
	padding-top:5%;
	font-size: 4em;
	margin-bottom:0.5%;
}


#submit_button {
	float:right;
}


#info{
	display:block;
	float:left;
	width:33%;
	height:100%;
}

.todo{

	height:100%;
}

#description {
	
	#background-color:#34495E;
	display:block;
	word-wrap: break-word;
	text-align:left;
	float:right;
	margin-left:2%;
	
	padding-left:15px;
	padding-right:15px;
	border-radius: 8px 8px 6px 6px;
	width:60%;
	#border-style:solid;
	#border-width:1px;
	height:30%;

	background-color:$secondary-color;

	color:white;

	margin-bottom:1%;



}



#evaluation{
	
	display:block;
	word-wrap: break-word;
	
	padding-left:15px;
	padding-right:15px;
	border-radius: 8px 8px 6px 6px;
	text-align:left;
	float:right;

	margin-left:2%;
	#margin-top:1%;
	#margin-bottom:20px;

	width:60%;
	height:68.5%;
	#border-style:solid;
	#border-width:1px;
	background-color:$secondary-color;

	color:white;

}

#skills{
	
	#display:block;
	word-wrap: break-word;
	padding-left:15px;
	padding-right:15px;
	text-align:left;
	float:left;
	border-radius: 8px 8px 6px 6px;
	#margin-left:2%;
	margin-top:1%;
	margin-bottom:2%;

	width:97%;
	height:200px;
	#border-style:solid;
	#border-width:1px;

	background-color:$secondary-color;

	color:white;
}

#profile_picture {

	padding-left:25%;
	padding-top:5%;
}

#skills_eval{
	
	#z-index:0;
	#float:left;
	#width:55%;

}

#accordion_info{

	width:100%;
	background-color:$secondary-color;
}

.progress {
    position: relative;
    height:20px;
    margin:0 auto;
}

.progress-edit {
	cursor: pointer;
}

.progress-bar {
    z-index: 1;
    position: absolute;
}

.progress span {
    position: absolute;
    top: 0;
    z-index: 2;
    color: black; // You might need to change it
    text-align: center;
    width: 100%;
}

//Players list view button
.accord_btn{

	margin-top:5%;
	width:55px;
	#padding-right:33px;
	text-align:center;
	margin-bottom:5%;
}

//Edit player desc box
#player_desc{

	width:95%;
	height:75px;
	resize:none;
}

#person_position{
	
	width:95%;
}

.drop_down_desc_box{

	width:95%;
	height:30px;
	resize:none;

}
//Edit player buttons

.edit_btn{

 	float:none;
 	margin-left:31%;
 	margin-top:5%;
}

//Players descrption text alignment stuff
#desc_text{


	display: table-cell;
  	vertical-align: middle;
  	color:white;
}

.desc_box{

  display: table;
  width: 700px;
  height: 125px;
  text-align: center;

}

.in_collapse {
	height: 120px;
}