// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #3498DB;
$primary-color-hover: #2980B9;

$secondary-color: #34495E;
$secondary-color-hover: #2c3e50;

h1 {

	#color: white;
	#text-align: center;
	#padding-top: 2%;
}

h2 {
	#color: $secondary-color;
	#text-align: center;
}

.page-header{
	background-color: $secondary-color;
}

