// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #3498DB;
$primary-color-hover: #2980B9;
$secondary-color: #34495E; 
$secondary-color-hover: #2c3e50;

.btn-inverse:hover {
	color:  rgb(26, 188, 156)
}


.profile_wrap_team{

	height:570px;

}

.text_field_big{

	width:192px;
	height:75px;
	resize:none;
}


#accord_pic{
	
	border-radius:5px;

}

.accord_btn{


	margin-top:5%;
	width:50px;
	#padding-right:33px;
	text-align:center;
	margin-bottom:5%;
}

#desc_text{


	display: table-cell;
  	vertical-align: middle;
  	color:white;
}

.desc_box{

  display: table;
  width: 700px;
  height: 125px;
  text-align: center;


}

.team_header{

	color:$secondary-color;
	background-color:none;
	
}