<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sportcv" %></title>
    <%= favicon_link_tag '/assets/images/favicon.ico' %>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
    <body>


      <header>
      
        <div id="h_right">
          <div id="login">
              <a href="#" class="login">Log in</a>
          </div>
        </div>

        <div id="h_left">
          <img src='http://www.fastrepair.com/wp-content/uploads/2010/11/apple_logo-120x120.jpg' alt="some_text">
        </div>

        <div id="h_middle">
            <div id="search">
                <input type="text" class="search square"><input type="button" value="Search">
            </div>
            <div id="menu">

                 <a href="default.asp">Home</a>
                 <a href="news.asp">Athletes</a>
                 <a href="contact.asp">Teams</a>
                 <a href="contact.asp">Profile</a>
                 <a href="contact.asp">Connections</a>
                 <a href="about.asp">About</a>

            </div>
        </div>

      </header>
      <div id="clear_div"></div>
      <div class="content">
        <%= yield %>
 

      </div>


       <footer>
            <div id="f_left">
              <a href="default.asp">Contact</a>
            </div>
      </footer>

    </body>
</html>
