
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sportcv" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  
  </head>

  <body>
  <div id="wrap">
  <div class="navbar navbar-inverse">  
    <div class="navbar-inner">  
      
      <div class="navbar-header pull-left">
        <h3 style="color:white">Sportnection</h3>
      </div>
      <ul class="nav" style="margin-left:4%;">  

                      <li><%= link_to "Profile", player_path(current_user.players.first) if current_user.players.exists? %>
                      <%= link_to "Profile", team_path(current_user.managers.first.team) if current_user.managers.exists? %>
                       </li>  
                      <li><a href="/players">Players</a></li>  
                      <li><a href="/teams">Teams</a></li>  
      </ul>

      <ul class="nav navbar-nav pull-right">
        <% if current_user.managers.exists? %>
          <% if current_user.managers.first.has_message %>
            <% message_pic = "http://kodu.ut.ee/~vooteler/images/sulleonkiri_veel_minim.gif" %>
          <% else %>
            <% message_pic = "http://kodu.ut.ee/~vooteler/images/message.png" %>
          <% end %> 
          <li><%= link_to image_tag(message_pic, class: 'mailbox' ), main_app.show_connections_manager_path(current_user.managers.first)%></li>
        <% end %>

        <li><%= link_to "Log out",  controller: 'sessions' , action: 'destroy', id: "sign_out" %></li>  
      </ul>

    </div>  

  </div>   

  <div class="container"> 
    <div class="content">
        <%= yield %>
    </div>
  </div>  
  </div>

<!--  <footer>
    <div id="footer">
     <h2>Sportnection<h2>
    </div>
  </footer> -->


  </body>

</html>
